hr { display: block; 
    margin-left: 5em;
     margin-bottom: 0.5em;
     margin-top: auto;
     margin-right: 5em; 
    overflow: hidden; 
    border-style: inset; 
    border-width: 1px ;
}

/*top button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #myBtn:hover {
    background-color: #555;
  }
/*reserv*/
.reserv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
align-items: center;
font-family:  Quicksand, Arial, Helvetica, sans-serif;
margin: 0px 0px 0px 0px;
text-align: center;
text-transform: capitalize;
}
/*reserv img*/
.imgcont{
    width: 45%;
}
.imgcont>img{
    width: 100%;
    margin: 0px 0px 0px 0px ;
}
/*reserv info */
.theres{
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    width: 55%;
    text-align: center;
}
.theres > h4{
    font-family:  Quicksand, Arial, Helvetica, sans-serif;
    font-size: 24px;   
     line-height: 32px;   
     text-transform: none;   
     font-weight: 300;    
    color: rgb(173, 34, 34);
    margin: 1px 1px 1px 1px; 
    border-bottom: 1px black;
} 
.theres> h1{
font-family:  Raleway, Arial, Helvetica, sans-serif; 
font-size: 48px;   
 line-height: 56px;   
 text-transform: capitalize;   
 font-weight: 600;  
 margin: 1px 1px 1px 1px;
 letter-spacing:  2px;
 margin: auto;
}
.theres >h6{
font-family:   Arial, Helvetica, sans-serif;  
  font-size: 13px;  
    line-height: 20px;  
    text-transform: none;   
     font-weight: 300;   
     margin: 2px 2px 2px 2px; 
} 
.theres >h5{
    font-family:  Raleway, Arial, Helvetica, sans-serif; 
    font-size: 30px;   
     line-height: 56px;   
     text-transform: capitalize;   
     font-weight: 600;  
     margin: 2px 2px 2px 2px;
}  
/*link reserve*/
.linki{
       box-sizing: border-box; 
        
        align-items: center;  
        align-self: center;
         min-width: 50%;   
         width: max-content;
         touch-action: manipulation;
         border :var(--corvid-border-radius,var(--rd,0)); 
         border-radius: 2px;   
         box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6)); 
         background-color: rgb(173, 34, 34);  
          transition: var(--trans1,border-color .4s ease 0s,background-color .4s ease 0s);
          justify-content: center;
          padding-top: 5px;
          padding-bottom: 5px;
          text-decoration: none;
          text-align: center;
          color: black;
          font-family: Arial, Helvetica, sans-serif !important;
}
.linki:hover{
        color: rgb(173, 34, 34);
        background-color: black;
    }
    /*reserv the pop*/
    .pop{
width: 75%;
background: #b30000;
border-radius: 6px;
position: absolute;
top:0;
left: 50%;
transform:translate(-50%,-50%) scale(0.1);
text-align: center;
padding: 0 30px 30px;
color: antiquewhite;
visibility: hidden;
transition: transform 0.4s ,top 0.4s;
    }
    .oppen-popup{
      visibility: visible;
      top:57%;
      transform:translate(-50%,-50%) scale(1);
    }
    .pop>button{
      width: 100%;
      margin-top: 10px ;
      padding: 10px 0;
      background: transparent;
      outline: none;
      border: 0;
      font-size: 18px;
      cursor: pointer;
      box-shadow: 0 5px 5px transparent;
    }
    .popform{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 50%;
      height:25%;
    }
    .formitem{
      width: 50%;
    
    }
/*event for event */
.event{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
   
}
.event >img{
    width: 50%;
}
.eventitem{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    height: 25%;
}
.eventitem >a {
    align-self: center;
}
.eventitem >a:hover{
    background-color: white;
}
.eventitem> h1{
    font-family:Raleway, Arial, Helvetica, sans-serif; 
    text-transform: capitalize;   
     font-weight: 500;  
}
.eventitem>h5{
    font-family:Quicksand, Arial, Helvetica, sans-serif;
    text-transform: capitalize;   
     font-weight: 300;  
     margin-top: 0px;
     margin-left: 5px;
     color: #b30000;
}
/*menulist*/
.menu{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
margin-bottom: 10px ;
padding: 20px 20px 20px 20px;
}
.itemsline-through{
    display: flex;
    flex-direction: row;
    width:30%; 
    touch-action: manipulation;
    box-shadow:inset; 
    border-radius:5px ;
    background-color: whitesmoke; 
}
.itemsline-through >img{
max-width: 60%;
border-end-start-radius: 5px;
border-top-left-radius: 5px;
} 
/* the dish info */
.itemsline-throughinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 40%;
}
/* the dish name */
.itemsline-through > h2{
    font-family:Quicksand, Arial, Helvetica, sans-serif;
}
/* the price is alink to order  */
.itemsline-throughinfo >a {
    color: #b30000;
    font-family:Quicksand, Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-bottom: 20px;
}
.itemsline-throughinfo > a:hover{
    color: black;
    background-color: transparent;
}
/*slide show */
/* Slideshow container */
.slideshow-container {
  
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  width: auto;
  transition: 0.6s ease;
  user-select: none;
 width: 2%;
}

/* Position the "next button" to the right */

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name:fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}